#body {

}

.container0 {
    height: 100vh;
}

.container1 {
    width: 70%;
    height: 100%;
}

.FakeWall {
    background-image: url(../img/wall.png);
    height: 15%;
}

.FakeCorkWall {
    background-image: url(../img/cork.png);
    height: 85%;
}

.card {
    width: 30%;
    border-radius: 0px;
}

.CardImage {
    height: 80%;
}

.CardText {
    height: 15%;
}