#body {

}

.container0 {
    height: 100vh;
}

.FakeWall {
    background-image: url(../img/wall.png);
    height: 15%;
}

.FakeCorkWall {
    background-image: url(../img/cork.png);
    height: 85%;
}